<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: GraphPaper (2015-09-16 11:48)</string>
	<string>M7.0-3507-1</string>
	<string>M7.0.5-4052-1</string>
	<string>M7.1-4328-1</string>
	<string>M7.1.1-4338-1</string>
	<string>M7.2-4582-1</string>
	<string>T3.2 (4784)</string>
	<string>M7.2-4582-1</string>
	<string>M7.3-5046-3</string>
	<string>T3.3 (5052)</string>
	<string>G-r14-2D153</string>
	<string>T3.3 (5052)</string>
	<string>M7.3-5046-3</string>
	<string>T3.3 (5052)</string>
	<string>T3.3.1 (5249)</string>
	<string>M7.3.1-5249-2</string>
	<string>G-r15-2DB09</string>
	<string>T3.3.1 (5249)</string>
	<string>G-r15-2DB09</string>
	<string>T3.3.1 (5249)</string>
	<string>T4.0 (5625)</string>
	<string>T4.0.1 (5628)</string>
	<string>G-r16-2E164</string>
	<string>M8.0.1-5579-2</string>
	<string>G-r16-2E164</string>
	<string>G-r310-3B81</string>
	<string>M8.1-5683-2</string>
	<string>G-r310-3B81</string>
	<string>M8.1-5683-2</string>
	<string>T4.1 (5782)</string>
	<string>M8.1-5683-2</string>
	<string>T4.1 (5782)</string>
	<string>M8.2-5869-2</string>
	<string>G-r320-3C102</string>
	<string>G-r320-3D128</string>
	<string>M8.3-5989-2</string>
	<string>T4.3 (6091)</string>
	<string>M8.3-5989-2</string>
	<string>T4.3 (6091)</string>
	<string>M8.3-5989-2</string>
	<string>G-r320-3D139</string>
	<string>M8.3-5989-2</string>
	<string>T4.3 (6091)</string>
	<string>M8.3-5989-2</string>
	<string>T4.3 (6091)</string>
	<string>M8.3-5989-2</string>
	<string>T4.3 (6091)</string>
	<string>M8.3-5989-2</string>
	<string>T4.3 (6091)</string>
	<string>M8.3-5989-2</string>
	<string>T4.3 (6091)</string>
	<string>M8.3-5989-2</string>
	<string>G-r320-3D139</string>
	<string>M9.1-6369-2</string>
	<string>T5.1 (6569)</string>
	<string>M9.1-6369-2</string>
	<string>T5.1 (6569)</string>
	<string>G-r410-4B101</string>
	<string>M9.1-6369-2</string>
	<string>T5.1 (6569)</string>
	<string>G-r410-4B101</string>
	<string>T5.2 (6724)</string>
	<string>T5.2.1 (6733)</string>
	<string>G-r420-4C114</string>
	<string>M9.2.1-6529-2</string>
	<string>G-r420-4C114</string>
</array>
</plist>
