body {
  margin: 0;
  font-family: "Quicksand", sans-serif, "Caveat", cursive, "Allura", cursive;
  font-family: "Quicksand", sans-serif, "Caveat", cursive, "Allura", cursive,
    /* -apple-system, BlinkMacSystemFont,  */ "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: "Quicksand", sans-serif, "Caveat", cursive, "Allura", cursive,
    /* source-code-pro, Menlo, Monaco, Consolas,  */ "Courier New", monospace;
}

.mapBtn {
  background-image: url("./Components/rightarrow.png");
}

@media print {
  @page {
    size: 800px 1200px;
    /* margin: 20mm; */
    margin: 80px;
  }
  #printComponent {
    height: 1200px;
    width: 800px;
  }
  /* #fullCalendar {
    height: 1300px;
    width: 1000px;
  } */
}

/* .mapboxgl-ctrl-bottom-left .mapbox-ctrl {
  margin: 0 40px 13px 10px;
  float: right;
} */
