@media (max-width: 768px) {
  .fc-toolbar-title {
    font-size: 16pt !important;
  }
  .fc-prev-button,
  .fc-next-button {
    width: 30px;
    height: 35px;
  }
  .fc-today-button {
    width: 60px;
    height: 35px;
  }
  .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin-left: 0.5em;
  }
}

@media (max-width: 400px) {
  .fc-toolbar-title {
    font-size: 12pt !important;
  }
  .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin-left: 0.3em;
  }
}

@media (max-width: 320px) {
  .fc-toolbar-title {
    font-size: 8pt !important;
  }
  .fc-prev-button,
  .fc-next-button {
    width: 26px;
  }
  .fc-today-button {
    width: 54px;
    font-size: 12pt;
  }
}
