/* body {
  font-family: "Arial", sans-serif;
  background-color: white;
  padding: 20px;
} */

.Demo__container {
  /* margin-top: 80px; */
  position: fixed;
  top: 80px;
}

@media (max-width: 1380px) {
  .Demo__container {
    top: 160px;
  }
}
@media (max-width: 960px) {
}
@media (max-width: 768px) {
  .Demo__container {
    position: static;
    margin: 0 auto;
    top: 20px;
  }
}

.Demo__some-network {
  vertical-align: top;
  display: inline-block;
  /* margin-right: 10px; */
  text-align: center;
  /* margin-top: 80px; */
  margin-left: 15px;
}

.step-2 {
  margin-top: 80px;
}

.Demo__some-network__share-count {
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  overflow: visible;
  width: 0;
  margin-top: 3px;
  font-size: 12px;
}

.Demo__some-network__share-button {
  cursor: pointer;
}

.Demo__some-network__share-button:hover:not(:active) {
  opacity: 0.75;
}

.Demo__some-network__custom-icon {
  width: 32px;
  height: 32px;
}
